= render partial: 'error_message',
         locals: {message: 'It appears that some kind of technical issue is occurring on our back end.',
                  description: 'Our engineers are actively working to resolve this issue.'}

= render 'send_message_form'
