= render partial: 'error_message',
         locals: {message: "The page you were looking for doesn't exist.",
                  description: 'You may have mistyped the address or the page may have moved.'}

= render 'send_message_form'
